#container, #container div {
  border: 1px solid rgb(255, 197, 224);
  margin: 5%;
  text-align: center;
  background-color: rgba(255, 197, 224, 0.2);
}

h1 {
  margin: 5%;
}

#grid {
  display: grid;
  grid-template-columns: 5fr 5fr;
}