
.App {
  margin: 10%;
}

.App h1 {
  text-align: center;
  color:rgb(185, 185, 185);
  border: 5px solid rgb(194, 194, 194);
  border-radius: 3px;
  width:fit-content;
  padding: 20px;
  margin: 0 auto;
}

.App hr {
  border: 5px solid rgba(179, 204, 252, 0.527);
  border-radius: 5px;
}


#container {
  margin:3%;
  background-color: rgba(206, 229, 255, 0.205);
  padding: 3%;
  border-radius: 10px;
}
